@using System.Web.Mvc
@model ProyectoFinal.Models.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Inicio de Sesión";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.Label("Email", "Correo electrónico")
        <div class="col-md-10">
            @Html.TextBox("Email", Model.Email, new { @class = "form-control" })
            @Html.ValidationMessage("Email", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Password", "Contraseña")
        <div class="col-md-10">
            @Html.Password("Password", null, new { @class = "form-control" })
            @Html.ValidationMessage("Password", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                <label>
                    @Html.CheckBox("RememberMe", Model.RememberMe) Recordarme
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Iniciar Sesión" class="btn btn-primary" />
        </div>
    </div>
}


